.container {
    text-align: center;
}
.name {
    text-align: center;
}
.back {}
.bold {}
.code {}
.italic {}
.strikethrough {}
.underline {}
.pre {}
.code_block {}
.file {}
.bookmark {}
.image {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}